/* 
Purpose: Help up define certain colors and import
variables in other places. Makes easier to modify
values later on.
*/

:root {
    /* Colors */
    --color-text: #000000;
    --color-primary: #575cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #ffffff;

    /* Fonts */
    --font-pt-serif: "PT serif", serif;
}